* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header-bg {
  position: relative; /* needed for overlay */
  background-image: url(/img/bgimg1.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  padding: 25px 0;
  /* opacity: 0.8; */
}
/* Slight black shade overlay */
.header-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 20% black */
  z-index: 1;
}
/* Make content appear above overlay */
.header-bg > * {
  position: relative;
  z-index: 2;
}

/* Logo Style */
.brand-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  color: #111;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* Navbar Links */
.nav-link {
  color: #fff !important;
  font-weight: 500;
  font-size: 18px;
}
.offcanvas-dark {
  background-color: #111;
  color: white;
  width: 240px !important;
}
/* 
.close-btn:hover {
  filter: brightness(0) saturate(100%) invert(69%) sepia(73%) saturate(2438%)
    brightness(101%) contrast(101%); */
.menu-list li a {
  display: block;
  padding: 10px 12px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  transition: 0.3s;
}

.menu-list li a:hover {
  color: #b3b39b;
}
.hero-slide .btn {
  padding: 12px 30px;
  font-size: 1.2rem;
}
/* Default: horizontal buttons */
.btn-container {
  display: flex;
  gap: 15px; 
}


/* Mobile logo center fix */
@media (max-width: 992px) {
  .contact-mobile {
    position: absolute;
    right: 10px; /* distance from right edge */
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
  }
}


@media (max-width: 768px) {
   .hero-slide .btn {
    padding: 6px 15px; /* smaller padding */
    font-size: 0.9rem; /* smaller text */
  }
  .btn-container {
    flex-direction: column; 
  }

  .btn-container .btn {
    width: 100%;             
  }
    
}

